.function-form-submit {
  background-color: rgb(35, 183, 205);
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
}

.function-root {
  background-color: rgb(48, 55, 62);
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
}

.function-header {
  background-color: rgb(167, 164, 160);
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
}

.function-form {
  background-color: rgb(123, 137, 138);
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  flex: content;
  justify-content: end;
}

.function-form input {
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  border: none;
}